[mysqld]
# 设置 3306 端口
port = 3306
#1：阻止后台线程运行。2：阻止插入缓冲操作。3：阻止清除操作。4：阻止事务回滚。5：阻止重建索引。6：阻止预读操作。
innodb_force_recovery=0
# 设置 MySQL 数据文件的位置
datadir = /opt/home/sky/work/shell/mysql/data
user = mysql
bind-address = 0.0.0.0
# 设置错误日志文件的位置
log-error = /var/log/mysql/error.log

# 设置默认存储引擎为 InnoDB
default-storage-engine = INNODB

# 设置默认字符集
character-set-server = utf8mb4

# 设置默认校对规则
collation-server = utf8mb4_general_ci

# 设置最大允许的数据包大小
max_allowed_packet = 128M

# 设置线程缓存大小
thread_cache_size = 9

# 设置最大连接数
max_connections = 151

# 设置表打开缓存大小
table_open_cache = 4096

lower_case_table_names=1


# 设置 innodb 缓冲池大小（根据你的可用内存进行调整）
innodb_buffer_pool_size = 1G

# 设置 innodb 日志文件大小
innodb_log_file_size = 128M

# 设置 innodb 重做日志缓冲区大小
innodb_log_buffer_size = 32M

# 设置 innodb_flush_log_at_trx_commit 的行为
innodb_flush_log_at_trx_commit = 1

# 设置 sync_binlog 的值，以控制何时将 binlog 写入磁盘
sync_binlog = 1

# 设置 binlog 格式
binlog_format = ROW

# 禁用自动创建时间戳字段
explicit_defaults_for_timestamp = 1

# 设置服务器关闭时的等待超时时间
wait_timeout = 28800

# 设置交互式会话的等待超时时间
interactive_timeout = 28800

# 设置临时文件的目录
tmpdir = /tmp

# 设置慢查询日志
slow_query_log = 1
slow_query_log_file = /var/log/mysql/slow.log
long_query_time = 10
min_examined_row_limit = 250

# 设置二进制日志文件的位置和名称
log_bin = /var/log/mysql/mysql-bin.log

# 设置二进制日志索引文件的位置和名称
log_bin_index = /var/log/mysql/mysql-bin.index

# 设置二进制日志的最大文件大小
max_binlog_size = 100M

# 设置二进制日志的过期天数
expire_logs_days = 7

# 设置线程堆栈大小
thread_stack = 256K

# 设置时区
default-time-zone='+00:00'

# 设置服务器 ID
server_id = 1

# 设置性能模式
performance_schema = 0

# 设置 GTID 模式（根据需要启用）
gtid_mode = OFF

# 设置增强的 GTID 模式（根据需要启用）
enforce_gtid_consistency = OFF

[client]
# 设置默认字符集
default-character-set = utf8mb4

[mysql]
# 禁用自动重新哈希
no-auto-rehash